.osOverlayHighlight {
  background-color: rgba(56, 162, 204, 0.401);
  border: rgba(255, 0, 0, 0.5) dashed 1px;
  position: relative; /* Ensure positioning context for the span */
  overflow: hidden;
}

.osOverlayHighlight:hover {
  border: red dashed 2px;
  display: block;
}

.osOverlayHighlight span {
  display: none; /* Initially hide the span text */
}

.osOverlayHighlight:hover span {
  display: inline;
}

.osOverlayText {
  display: none;
  font-size: 1vw;
  line-height: 1.5em;
}
.osOverlayText:hover {
  display: block;
}
.hidden {
  display: none !important;
}
#overlaysToggleWrapper {
  margin-left: 1rem;
}
