body,
html {
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
}

#osContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.menu img {
  float: left;
  width: 62px;
  height: 60px;
}

.menu h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color: white;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "dlig", "ss01", "ss02";
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.coordinate {
  position: absolute;
  pointer-events: none;
  color: white;
  font-family: Inter, sans-serif;
  font-feature-settings: "tnum", "zero", "cv09", "cv02", "cv03", "cv04";
  font-weight: 400;
}

.coordinate-content {
  position: relative;
  top: 2em;
}
#shareButton {
  margin-left: auto;
  margin-right: 2vw;
}
#overlayVisibilityToggleButton {
  margin-left: auto;
  margin-right: 2vw;
}

.loadingIndicator {
  margin-bottom: 1vw;
  margin-left: 1vw;
  position: fixed;
  bottom: 0;
}
.spinningIcon {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* TODO: add "Loading" text */
/* .loadingIndicator span {
  margin-bottom: 1vw;
  padding-left: 5vw;
  position: fixed;
  bottom: 0;
} */

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
