body,
html {
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
}

.navbar.mapNavbar {
  background-color: #030712 !important;
}

.flex {
  display: flex;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

.full-viewport-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
#osContainer {
  height: 100%;
  width: 100%;
}

.menu img {
  float: left;
  width: 62px;
  height: 60px;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1,
    'dlig',
    'ss01',
    'ss02';
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.coordinate {
  position: absolute;
  pointer-events: none;
  color: white;
  font-family: Inter, sans-serif;
  font-feature-settings: 'tnum', 'zero', 'cv09', 'cv02', 'cv03', 'cv04';
  font-weight: 400;
}

.coordinate-content {
  position: relative;
  top: 2em;
}

.loadingIndicator {
  margin-bottom: 1vw;
  margin-left: 1vw;
  position: fixed;
  bottom: 0;
}

.spinningIcon::before {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear(
    0 0%,
    0.22 2.1%,
    0.86 6.5%,
    1.11 8.6%,
    1.3 10.7%,
    1.35 11.8%,
    1.37 12.9%,
    1.37 13.7%,
    1.36 14.5%,
    1.32 16.2%,
    1.03 21.8%,
    0.94 24%,
    0.89 25.9%,
    0.88 26.85%,
    0.87 27.8%,
    0.87 29.25%,
    0.88 30.7%,
    0.91 32.4%,
    0.98 36.4%,
    1.01 38.3%,
    1.04 40.5%,
    1.05 42.7%,
    1.05 44.1%,
    1.04 45.7%,
    1 53.3%,
    0.99 55.4%,
    0.98 57.5%,
    0.99 60.7%,
    1 68.1%,
    1.01 72.2%,
    1 86.7%,
    1 100%
  );
  /*animation-timing-function: linear;*/ /* use this if you don't like the above */
}

.loadingIndicator::after {
  content: 'L\00A0 \00A0 \00A0 ADING';
  position: absolute;
  font-size: 0.875rem;
  left: -0.25rem;
  z-index: -100;
  color: transparent;
  text-shadow:
    -1px 0 white,
    0 1px white,
    1px 0 white,
    0 -1px white;
  opacity: 0.4;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body.toggle-hidden div.osOverlayHighlight {
  display: none !important;
}

.icon-button.btn {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: nowrap;
  align-items: center;
}

.icon-runfast {
  background-image: url(../assets/runfast-logo.svg);
  background-size: cover;
  display: inline-block;
  height: 10px;
  width: 50px;
  margin-top: 3%;
  vertical-align: center;
}

.pixelated-image {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.icon-structures {
  background-image: url(../assets/icons/overlay-toggles/icon-structures.svg);
  background-size: cover;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.icon-orbs {
  background-image: url(../assets/icons/overlay-toggles/icon-orbs.webp);
  background-size: cover;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.icon-items {
  background-image: url(../assets/icons/overlay-toggles/icon-items.webp);
  background-size: cover;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.icon-bosses {
  background-image: url(../assets/icons/overlay-toggles/icon-bosses.webp);
  background-size: cover;
  display: inline-block;
  height: 16px;
  width: 16px;
}

#searchResults {
  position: absolute;
  top: 100%;
  max-width: 100%;
  background: #000a;
  height: 0;
  border: 0px solid #fff;
  border-radius: 0.25em;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}

#searchInput {
  background-color: #030712;
  border: solid 1px white;
}

#searchInput::placeholder {
  font-style: italic;
}

/* TODO: search results overflow the page on narrow displays */
#search-form:focus-visible + #searchResults:has(> .search-result),
#searchResults:active,
#searchResults:focus-within {
  height: auto;
  border-width: 1px;
}

.search-result {
  padding: 0.5em;
  border-bottom: 1px solid #fff8;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;
}

.search-result:hover {
  background: #fff2;
}

.search-result:focus {
  background: #fff2;
}

/* prevent drawing an outline around the OSD container if we hit tab to focus it */
#osContainer :focus-visible {
  outline: none;
}

#spellList {
  visibility: hidden;
  position: absolute;
  top: 100%;
  background: #000a;
  backdrop-filter: blur(0.25em);
  border: 1px solid #fff8;
  border-radius: 0.25em;
  overflow-y: auto;
  max-height: calc(100vh - 100%);
  padding: 0;
}

#spellSelector:focus + #spellList,
#spellList:focus-within,
#spellList:active {
  visibility: visible;
}

#spellList li {
  list-style-type: none;
  padding: 0.5em;
  border-bottom: 1px solid #fff8;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#spellList li:hover {
  background: #fff2;
}

#spellList li img {
  width: 2em;
}

#spellList li div {
  display: flex;
  flex-direction: column;
}

#spellList li div span:nth-child(2) {
  font-size: 0.75em;
}
